/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Sedan+CS&display=swap');

/* Define CSS variables */
:root {
    --primary-color: #FF6700;
    --secondary-color: #EBEBEB;
    --tertiary-color: #C0C0C0;
    --quaternary-color: #3A6EA5;
    --quinary-color: #004E98;
}

/* Heading and paragraph styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
    color: var(--primary-color);
}

p {
    font-family: 'Sedan CS', sans-serif;
    color: var(--secondary-color);
}

/* Remove underlines from social media links */
footer .sociallinks a {
    text-decoration: none;
}

/* Limit entire width of the page */
body {
    max-width: 1200px;
    margin: 0 auto;
}

/* Style the Hero Container */
.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: center;
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--secondary-color);
    padding: 20px;
    max-width: 300px;
}

.hero article img {
    float: right;
    margin-left: 20px;
}

