main {
  max-width: 840px;
}

main img {
  float: right;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: steelblue;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* new box */
.box {
  margin: 2rem;
  padding: 2rem;
  background-color: #ddd;
  color: #000000;
}


aside {
  position: relative; 
}

aside h2 {
  position: absolute; 
  top: 47px; 
  left: 90px; 
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 10px; 
}
